name: Docker Build and Deploy

on:
  push:
    branches:
      - main  # Adjust to your main branch name

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: /home/ubuntu/  # Updated to the correct context path
          file: ui/Dockerfile  # Adjust to your Dockerfile path relative to the context
          push: true
          tags: |
            Ksyushaaa/ui:latest
            Ksyushaaa/ui:${{ github.sha }}

      - name: SSH into Server and Update Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker stop ui || true
            docker rm ui || true
            docker pull Ksyushaaa/ui:latest
            docker run -d --name ui Ksyushaaa/ui:latest
